on early-init
    wait /dev/.coldboot_done 1000

on init
# 	distinguish USB shoulde connect or not by this, CDP vs SDP
	write /sys/devices/platform/mt_usb/cmode 2

on property:ro.debuggable=1
# 	restore cmode to normal for making USB enumeration
	write /sys/devices/platform/mt_usb/cmode 1

on fs
    symlink /dev/block/platform/soc/11120000.mmc /dev/block/platform/bootdevice
